body {
    background-image: url('please_dont_play_with_the_scanner_3_2019.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 95%;
    margin: 20px;
    padding: 20px;
}

.vertical-center {
    position: absolute;
    transform: translate(0%, 200%);
}

/* This will apply only to screens with a max-width of 600px, which covers most phones */
@media only screen and (max-width: 600px) {
    .vertical-center {
        transform: translate(0%, 30%); /* Adjust this value as needed for mobile */
    }
}

td {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

tr {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

link, a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: slategray;
}